<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
    </configSections>
    <modules>
        <module assemblyFile="AnimationDatabaseExplorer.dll"
                moduleType="AnimationDatabaseExplorer.AnimationDatabaseExplorerModule, AnimationDatabaseExplorer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                moduleName="AnimationDatabaseExplorerModule" startupLoaded="True"/>
        <module assemblyFile="HavokPreviewer.dll"
                moduleType="HavokPreviewer.HavokPreviewerModule, HavokPreviewer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                moduleName="HavokPreviewerModule" startupLoaded="True"/>
    </modules>
</configuration>
